#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CFLAGS = `dpkg-buildflags --get CFLAGS`
CFLAGS += `dpkg-buildflags --get CPPFLAGS`

gcc_machine   := $(shell ${CC} -dumpmachine)
ifeq ($(gcc_machine),mingw32)
 os   := Win32
endif
ifndef os
 os   :=  $(shell uname)
endif
os      :=  $(shell echo $(os) | tr '[A-Z]' '[a-z]' | tr ' ' '_')

machine   :=  $(shell if uname -m | egrep -v "(i[3456789]*|x)86" > /dev/null; then uname -m | tr "[A-Z]" "[a-z]" | tr " " "_" ; fi)
machine   :=  $(shell if uname -m | egrep "64" > /dev/null; then uname -m | tr "[A-Z]" "[a-z]" | tr " " "_" ; else echo $(machine) ; fi)
ifeq ($(os),darwin)
 ifeq ("$(machine)","")
  ifeq ($(shell sysctl hw.optional.x86_64),hw.optional.x86_64: 1)
   machine  := x86_64
  endif
 endif
endif

ifeq ($(machine),x86_64)
 machine  := x64
endif

%:
	dh $@ 

override_dh_auto_build:
	$(MAKE) -C src/conio WITH_SDL=1 WIHTOUT_CRYPTLIB=1 DEBUG=1 
	$(MAKE) -C src/xpdev WITH_SDL=1 WIHTOUT_CRYPTLIB=1 DEBUG=1 
	$(MAKE) -C src/syncterm WITH_SDL=1 WIHTOUT_CRYPTLIB=1 DEBUG=1 

override_dh_auto_install:
	$(MAKE) -C src/syncterm PREFIX=$$(pwd)/debian/syncterm/usr MANPREFIX=$$(pwd)/debian/syncterm/usr/share install
.PHONY: override_dh_strip

override_dh_strip:
	dh_strip --dbg-package=syncterm-dbg

override_dh_auto_clean:
	dh_clean
	rm -rf 3rdp/gcc.$(os).$(machine).debug
	rm -rf 3rdp/src/cl
	rm -rf src/conio/gcc.$(os).$(machine).lib.debug
	rm -rf src/conio/gcc.$(os).$(machine).obj.debug-mt
	rm -rf src/syncterm/gcc.$(os).$(machine).exe.debug
	rm -rf src/syncterm/gcc.$(os).$(machine).obj.debug-mt
	rm -rf src/uifc/gcc.$(os).$(machine).lib.debug
	rm -rf src/uifc/gcc.$(os).$(machine).obj.debug-mt
	rm -rf src/xpdev/gcc.$(os).$(machine).lib.debug
	rm -rf src/xpdev/gcc.$(os).$(machine).obj.debug
	rm -rf src/xpdev/gcc.$(os).$(machine).obj.debug-mt
	rm -f src/syncterm/syncterm.1.gz

URL := 'http://syncterm.bbsdev.net/syncterm-src.tgz'

get-orig-source:
	echo "Downloading..."
	wget -q -O syncterm-src.tgz $(URL) 
	UVERSION=$$(tar --exclude='*/*' -tf syncterm-src.tgz | sed -e "s/\///" |sed -e 's/-/_/'); \
	echo "Found version: " $$UVERSION; \
	mv syncterm-src.tgz $$UVERSION.orig.tar.gz
