#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	$(MAKE) -C src/conio WITH_SDL=1 WIHTOUT_CRYPTLIB=1 DEBUG=1 
	$(MAKE) -C src/xpdev WITH_SDL=1 WIHTOUT_CRYPTLIB=1 DEBUG=1 
	$(MAKE) -C src/syncterm WITH_SDL=1 WIHTOUT_CRYPTLIB=1 DEBUG=1 

override_dh_auto_install:
	$(MAKE) -C src/syncterm PREFIX=$$(pwd)/debian/syncterm/usr MANPREFIX=$$(pwd)/debian/syncterm/usr/share install
.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=syncterm-dbg
